.todo-wrapper {
    background: white;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.todo-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.todo-input {
    height: 1px;
    width: 1px;
    position: absolute;
    clip: rect(0 0 0 0);
}

.todo-custom-checkbox {
    height: 1em;
    width: 1em;
    border: 1px solid slategray;
    border-radius: 999%;
    margin-right: 10px;
}

.todo-text {
    user-select: none;
    font-family: sans-serif;
    font-size: 20px;
}

.check-element {
    transition: all 200ms;
    height: 1em;
    width: 0.5em;
    border-right: 2px solid #FFFFFF00;
    border-bottom: 2px solid #FFFFFF00;
    transform: translateY(-21%)translateX(44%)rotate(45deg)scale(78%);
}

.todo-input:checked + .todo-custom-checkbox > .check-element {
    border-color: green;
}
.todo-input:checked + .todo-custom-checkbox + .todo-text {
    color: slategray;
    text-decoration: line-through;
}
.todo-input:focus + .todo-custom-checkbox {
   box-shadow:  0 0 5px 2px slategray;
}
